# KPMG Virtual Internship

## Outline
* Introduction
* Data Cleaning
* Exploratory Data Analyst
* Conclusion

## Introduction

In [3]:
# import libraries
import pandas as pd
import chardet

#set rows and columns number
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

In [4]:
# Detect the encoding of the file
#with open('KPMG_VI_New_raw_data.xlsx', 'rb') as f:
#    result = chardet.detect(f.read())
    
# Read the file using the detected encoding
transaction_df = pd.read_excel('KPMG_VI_New_raw_data.xlsx', sheet_name='Transactions', skiprows=1)#encoding=result['encoding'])
new_customer_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='NewCustomerList', skiprows=1)
customer_demo_df = pd.read_excel('KPMG_VI_New_raw_data.xlsx', sheet_name='CustomerDemographic', skiprows=1)
customer_address_df = pd.read_excel('KPMG_VI_New_raw_data.xlsx', sheet_name='CustomerAddress', skiprows=1)

C:\Users\PC\AppData\Local\Temp\ipykernel_16472\26594157.py:7: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  new_customer_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='NewCustomerList', skiprows=1)
C:\Users\PC\AppData\Local\Temp\ipykernel_16472\26594157.py:8: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customer_demo_df = pd.read_excel('KPMG_VI_New_raw_data.xlsx', sheet_name='CustomerDemographic', skiprows=1)

In [7]:
new_customer_df.head(2)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,0.56,0.70,0.8750,0.743750,1,1,1.71875
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,0.89,0.89,1.1125,0.945625,1,1,1.71875

## Customer Demographic

In [5]:
customer_demo_df.head(2)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0

In [6]:
customer_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [8]:
customer_demo_df['customer_id'].duplicated().sum()

0

In [11]:
customer_address_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [24]:
customer_demo_df['job_industry_category'].fillna('undefined')
customer_demo_df['job_title'].fillna('undefined')

0          Executive Secretary
1       Administrative Officer
2           Recruiting Manager
3                    undefined
4                Senior Editor
                 ...
3995     VP Product Management
3996           Statistician II
3997         Assistant Manager
3998                 undefined
3999      Software Engineer IV
Name: job_title, Length: 4000, dtype: object

### Transactions Dataset
This is transaction data for the year 2017

In [5]:
transaction_df.head(1)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0

In [4]:
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [13]:
transaction_df.transaction_date.max()

Timestamp('2017-12-30 00:00:00')

In [10]:
sum(transaction_df['customer_id'].duplicated())

16506

In [6]:
transaction_df.dropna(inplace=True)

In [8]:
customer_demo_df.head(2)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0

In [9]:
customer_demo_df['deceased_indicator'].nunique()

2

In [8]:
customer_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [14]:
customer_address_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [8]:
new_customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [15]:
merged_table = pd.merge(customer_demo_df, customer_address_df,on='customer_id', how='left')
full_table = pd.merge(merged_table, transaction_df, on='customer_id', how='left' )

In [23]:
full_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20504 entries, 0 to 20503
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          20504 non-null  int64
 1   first_name                           20504 non-null  object
 2   last_name                            19849 non-null  object
 3   gender                               20504 non-null  object
 4   past_3_years_bike_related_purchases  20504 non-null  int64
 5   DOB                                  20047 non-null  datetime64[ns]
 6   job_title                            18027 non-null  object
 7   job_industry_category                17180 non-null  object
 8   wealth_segment                       20504 non-null  object
 9   deceased_indicator                   20504 non-null  object
 10  default                              19005 non-null  object
 11  owns_car                             20504 non-null  object
 12  tenure                               20047 non-null  float64
 13  address                              20475 non-null  object
 14  postcode                             20475 non-null  float64
 15  state                                20475 non-null  object
 16  country                              20475 non-null  object
 17  property_valuation                   20475 non-null  float64
 18  transaction_id                       19997 non-null  float64
 19  product_id                           19997 non-null  float64
 20  transaction_date                     19997 non-null  datetime64[ns]
 21  online_order                         19637 non-null  float64
 22  order_status                         19997 non-null  object
 23  brand                                19800 non-null  object
 24  product_line                         19800 non-null  object
 25  product_class                        19800 non-null  object
 26  product_size                         19800 non-null  object
 27  list_price                           19997 non-null  float64
 28  standard_cost                        19800 non-null  float64
 29  product_first_sold_date              19800 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(2), object(17)
memory usage: 4.8+ MB

In [22]:
full_table['DOB'].dropna(inplace=True)

In [17]:
# cheching for duplicate entry
sum(full_table.duplicated())

0

In [ ]:
transaction_df.describe()#[0])

from the above output, we'll notice a couple of data `Completeness Issues` accross multiple columns: `online_order`, `brand`, `product_line`, `product_class`, `product_size`, `standard_cost`, `product_first_sold_date`.
- Also notice that the `product_first_sold_date` shows a `Data Validity` issue. As a supposed Date column, the values and data type isn't valid.

### New Customer Dataset

In [ ]:
#new_customer_df.head(2)

In [ ]:
#new_customer_df.info(verbose=True)

In [ ]:
#sum(new_customer_df.duplicated())

In [ ]:
#new_customer_df.query("DOB == '1938-06-08 00:00:00'")

In [ ]:
#new_customer_df['DOB'].min()

In [ ]:
#new_customer_df.describe()

This dataset also shows `Completeness issues` and `Validity` issues namely:
- Columns `last_name`,`DOB`,`Job_title`,`job_industry_category` all have missing values.
- Five columns have no column name.
-

### Customer Address Dataset

In [ ]:
customer_address_df.head(2)

In [ ]:
customer_address_df.info()

In [ ]:
sum(customer_address_df.duplicated())

In [ ]:
customer_address_df.describe()

- No duplicate row
- No missing values

## Customer Demographics Dataset

In [ ]:
customer_demo_df.head()

In [ ]:
customer_demo_df['gender'].unique()

* inconsistent values for the same data: female rep as 'f','female' and 'femal'. Male rep as 'male', 'm. and 'u' gender

In [ ]:
customer_demo_df.info()

In [ ]:
sum(customer_demo_df.duplicated())

In [ ]:
customer_demo_df.query("DOB == '1843-12-21 00:00:00'")

In [ ]:
customer_demo_df['DOB'].min()

* Data Validity issues in `Default` column is incoherent.
* Data completness issues as `last name`, `DOB`, `job title`,`job_industry_category`,`default`,`tenure` columns are incomplete.
* Data consistency issue in `DOB` column ('1843-12-21 00:00:00').